<?php if(isset($login_url)): ?>
<p><h1><a href="<?php echo $login_url; ?>">Facebook login</a></h1></p>
<?php else: ?>
	<center><h1>Voc&ecirc; ja est&aacute; logado <i><?php echo $user['name']; ?></i>, <a href="<?php echo $logout_url; ?>">clique aqui</a> para sair.</h1></center>

<?php if(isset($events)): ?>
	<h2>Lista de Eventos</h2>
	<table width="500px">
		<tr>
			<th>Nome</th>
			<th>Local</th>
			<th>Data</th>
			<th>Status</th>
		</tr>
	<?php foreach ($events as $key => $event): ?>
		<tr>
			<td><?php echo $event->name; ?></td>
			<td><?php echo $event->location; ?></td>
			<td><?php echo date('m/d/Y', strtotime($event->start_time)); ?></td>
			<td><?php echo $rvsp[$event->status]; ?></td>
		</tr>  
	<?php endforeach; ?>
</table>
<?php endif; ?>


<?php endif; ?>